<!--Interpolação / Property Binding -->
  <app-data-binding></app-data-binding>


<!-- Class e Style Binding
  <app-data-binding-ng2></app-data-binding-ng2>
-->

<!-- Eent Binding
  <app-event-binding></app-event-binding>
-->

<!-- Two Way Data Binding
  <app-two-way-binding></app-two-way-binding>
-->

<!-- Curso Angular #15: Ciclo de vida do Componente (ngOnChances)

    <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>  /// Valor declarado no app.component.ts

    <p class="ciclo">Abrir console para ver quais métodos foram realizados ao clicar no botão:</p>
    <button (click)="mudarValor()" class="btn btn-info">Mudar Valor</button>
    <br><br>
    <p class="ciclo">Com OnDestroy</p>
    <button (click)="destruirCiclo()" class="btn btn-danger">Deletar</button>

-->
